:root {
    --bg-color: rgb(23, 23, 23);

    /* Coloration */
    --color-kitchen: rgba(254, 164, 127, 1);
    --color-living-room: rgba(179, 55, 113, 1);
    --color-balcony: rgba(59, 59, 152, 1);
    --color-bathroom: rgb(179, 57, 57);
    --color-bedroom-1: rgb(33, 140, 116);
    --color-bedroom-2: rgba(214, 162, 232, 1);

    --scale-factor: 1;
}

body {
    margin: 0px;
    padding: 0px;

    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.container {
    position: relative;
    top: 0px;
    left: 0px;
}

.container > div {
    position: absolute;

    opacity: 0.5;
    transition: opacity 1s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto Mono", sans-serif;
    color: rgb(255, 255, 255, 0.8);
}

.container > div > svg {
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: top left;
    transform: scale(var(--scale-factor));
}

.container > div > h1 {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease;
}

.container > div:hover,
.container > div:hover > h1 {
    opacity: 0.9;
    transition: opacity 1s ease;
}

img {
    width: calc(1808px * var(--scale-factor));
    z-index: -1000;
}

.balcony {
    top: calc(247px * var(--scale-factor));
    left: calc(120px * var(--scale-factor));
    width: calc(339px * var(--scale-factor));
    height: calc(208px * var(--scale-factor));

    fill: var(--color-balcony);
}

.kitchen {
    top: calc(468px * var(--scale-factor));
    left: calc(65px * var(--scale-factor));
    width: calc(542px * var(--scale-factor));
    height: calc(522px * var(--scale-factor));

    fill: var(--color-kitchen);
}

.living-room {
    top: calc(61px * var(--scale-factor));
    left: calc(472px * var(--scale-factor));
    width: calc(482px * var(--scale-factor));
    height: calc(929px * var(--scale-factor));

    fill: var(--color-living-room);
}

.bathroom {
    top: calc(764px * var(--scale-factor));
    left: calc(766px * var(--scale-factor));
    width: calc(483px * var(--scale-factor));
    height: calc(359px * var(--scale-factor));

    fill: var(--color-bathroom);
}

.bedroom-1 {
    top: calc(290px * var(--scale-factor));
    left: calc(967px * var(--scale-factor));
    width: calc(573px * var(--scale-factor));
    height: calc(462px * var(--scale-factor));

    fill: var(--color-bedroom-1);
}

.bedroom-2 {
    top: calc(662px * var(--scale-factor));
    left: calc(1222px * var(--scale-factor));
    width: calc(527px * var(--scale-factor));
    height: calc(461px * var(--scale-factor));

    fill: var(--color-bedroom-2);
}
